body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../images/parallax1.png');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("../images/parallax2.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("../images/parallax3.jpg");
    min-height: 400px;
}
.bgimg-4 {
    background-image: url("../images/parallax4.jpg");
    min-height: 400px;
}
.bgimg-5 {
    background-image: url("../images/ece3satWiki.jpg");
    min-height: 100%;
    background-position: 50% 50%
}

/*
.bgimg-4{
    background-repeat: no-repeat;
    background-size: contain;
}*/

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
        background-attachment: scroll;
    }
}
/*
canvas {
    position: relative;
    z-index: 1;
}
#name {
    position: absolute;
    z-index: 2;
    transition: opacity 2s linear;
    opacity: 0.9;
    width : 20%;
    overflow-wrap: break-word;
    justify-content: space-around;
    min-width: 196px;
}*/
.icon {
    margin-left: 20px;
}
#footerContent {
    z-index:3;
    position: relative;
}
ul {
    /*list-style-type:none;*/
}
.skill{
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}
footer {
}

#canvas .circle {
            display: inline-block;
            margin: 1em;
            
        }

.circles-decimals {
     font-size: 10px;
}
.circles-text {
    color: black;
    font-family: "Lato", sans-serif;
    /*font-size: 15px!important;*/
}
#skillHoriz {
    margin: auto;
}


a {
    /*text-decoration: none;*/
}


.skillRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.v1-eight{
    width:125px!important;
    height: 90px!important;

}

.alert-success {
    color: green;
}
.alert-danger {
    color: red;
}

#nomFooter {
    margin-top: 20px;
    margin-bottom: 10px;
}
.linkNotUnderlined{
    text-decoration: none;
}

h3 {
    color: darkblue;
}
h4 {
    margin-top: 30px;
    color: mediumblue
}
h5 {
    color: dodgerblue
}
li,p {
    text-align: justify;
}
